* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

/* Estilo del header */
header {
    background-color: darkgray;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px 0;
}

header nav ul li a {
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
    color: black;
}

/* Estilo del banner */
.banner {
    height: 10vh;
    width: 100%;
    background-color: white (252, 252, 252);
    color: black;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}


/* Estilo de la grilla de productos */
.grif {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 100px;
    padding: 15px;
}

.grif .caja {
    color: black;
    padding: 15px;
    text-align: center;
}

.caja {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.caja img {
    width: 100%;
    height:auto;
}

/* Efecto hover para agrandar los productos */
.caja:hover {
    transform: scale(1.1);
}

/* Estilo del footer */
footer {
    width: 100%;
    padding: 100px 0;
}

footer .autor h3 {
    text-align: center;
    margin: 0;
}

/* Estilos responsivos */
@media (max-width: 480px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

}